section#posts-hero{
    border-bottom: 10px solid var(--body-text-color);
}

.parallax {
    background-image: url('src/assets/maldives-beach.jpg');
    background-blend-mode: luminosity;
    min-height: 300px;
    display: flex;
    align-items: center;
}

section div.card {
    background-color: var(--secondary-color-90);
}

button + button {
    margin-left: 4px;
}

/*------post card-----------*/
#all-posts .card {
    max-width: 800px;
    min-width: 300px;
}

img.card-img-top{
    object-fit: cover;
    height: 200px;
    object-position: center;
}

button{
    line-height: 1.25;
}

#all-posts .card-body p,
#all-posts .card-body small {
    font-size: 0.9rem;
}

p span{
    color: var(--primary-color);
    letter-spacing: 1.5px;
    font-weight: 600;
}

.card-body small+small:not(:nth-of-type(2)){
    margin-left: 4px;
}

#all-posts .card:hover {
    scale: 1.03;
}

#all-posts article h5 {
    text-transform: uppercase;
    font-size: 1em;
}

section#all-posts {
    padding-left: 1.2rem;
    padding-bottom: 1rem;
    padding-right: 1.2rem;
}

@media screen and (max-width:800px) {
    #all-post article.card section {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (max-width:800px) {
    :host > section.featured-section#featured-section {
        padding-left: 0.5rem;
        padding-bottom: 1rem;
        padding-right: 0.5rem;
    }
}