<div class="parallax bg-light my-5">
<section id="all-categories"
         class="container py-3 my-5">
    <div class="d-flex align-items-center justify-content-center my-md-5 my-3">
        <div class="card shadow-effect">
            <div class="card-body text-center">
                <h3 class="text-theme-primary">All Blog Posts</h3>
                <p>From here you can manage your blog posts.</p>

                <button class="btn btn-custom-theme" routerLink="/posts/new"><i class="fas fa-plus me-1"></i>Add New Post</button>
                <button class="btn btn-outline-custom-theme" routerLink="/">Back to Dashboard</button>
            </div>
        </div>
    </div>
</section>
</div>