<section id="posts-hero"
         class="parallax bg-light my-5">
    <div class="container py-2 my-2">
        <div class="d-flex align-items-center justify-content-center my-md-5 my-3">
            <div class="card shadow-effect">
                <div class="card-body text-center">
                    <h3 class="text-theme-primary">All Blog Posts</h3>
                    <p>From here you can manage your blog posts.</p>

                    <button class="btn btn-custom-theme"
                            routerLink="/posts/new"><i class="fas fa-plus me-1"></i>Add New Post</button>
                    <button class="btn btn-outline-custom-theme"
                            routerLink="/">Back to Dashboard</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="all-posts"
         class="container-fluid pt-4 mb-5">
    <div class="row col-md-12">
        <div
             class="d-flex flex-md-row flex-column gap-2 flex-shrink-1 flex-wrap align-items-md-start align-items-center justify-content-center">

            <article class="card shadow-effect col-md-3"
                     *ngFor="let doc of posts$ | async">
                <img src="{{doc['postImgPath']}}"
                     alt="{{doc['title']}}"
                     class="card-img-top">
                <div class="d-flex bg-secondary-subtle">
                    <button class="btn btn-secondary btn-sm rounded-0 flex-grow-1">
                        Preview
                    </button>
                    <button routerLink="/posts/new"
                            [queryParams]="{id: doc['id']}"
                            class="btn btn-warning btn-sm rounded-0 flex-grow-1">
                        Edit
                    </button>
                    <button class="btn btn-danger btn-sm rounded-0 flex-grow-1">
                        Delete
                    </button>
                </div>
                <section class="card-body">
                    <small class="d-block bg-light text-success">Published -
                        {{doc['createdAt'].toDate() | date: 'MMM dd, yyyy hh:mm a'}}</small>
                    <small class="bg-light text-danger text-center">{{doc['category']['category']}}</small>
                    <small class="bg-light text-success text-center">{{doc['isFeatured'] ? 'Featured' : ''}}</small>
                    <small class="bg-light text-warning text-center">Views - {{doc['views']}}</small>

                    <h5 class="text-black-50 fw-bold mt-2">{{doc['title']}}</h5>
                    <p *ngIf="doc['excerpt'].length > 250">{{doc['excerpt'] | slice:0:250}}<span>...</span></p>
                    <p *ngIf="doc['excerpt'].length <= 250">{{doc['excerpt']}}</p>

                    <ng-container *ngIf="doc['status'] == 'updated'">
                        <hr>
                        <small class="bg-light text-info text-center">Updated -
                            {{doc['updatedAt'].toDate() | date:'medium'}}</small>
                    </ng-container>
                </section>
            </article>
        </div>
    </div>

</section>