/* ----------- post-create-section ------------------------*/
.parallax {
    background-image: url('src/assets/all-categories-background.jpg');
    background-blend-mode: luminosity;
}

section {
    max-width: 65%;
    min-width: 65%;
}

.card {
    background-color: var(--secondary-color-90);
    padding-left: 10px;
    padding-right: 10px;
}

.parallax-border {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('src/assets/bright-accent.jpg');
    height: 10px;
    width: 100% !important;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

form div.field-group {
    height: 62px;
}

form div input,
form div select,
form i {
    height: 40px !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

form i {
    color: var(--body-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    background-color: gainsboro;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

form div#textarea-group-excerpt {
    min-height: 172px;
}

form textarea {
    min-height: 150px;
    resize: vertical;
}

form div#textarea-group-excerpt textarea {
    resize: none;
}

form div#file-group {
    color: var(--body-text-color);
    min-height: 236px;
}

form div#file-group .form-label {
    display: flex;
    color: white;
    background-color: var(--body-text-color);
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    font-size: 1rem;
    padding: 4px 11px 4px 11px;
    margin-bottom: 0;
}

form div#file-group input[type="file"] {
    height: fit-content !important;
    border-radius: 0;
    border-radius: 0;
}

form div#file-group img.form-control {
    background-color: rgba(245, 245, 245, 0.5);
    border: 2px solid whitesmoke !important;
    border-top: 0 !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;

}

.img-custom {
    height: 144px;
    background-size: contain;
    object-fit: scale-down;
    background-position: center;
    background-repeat: no-repeat;
}

p.text-danger {
    padding: 0.1rem;
    font-size: 0.8rem;
    color: darkred !important;
    letter-spacing: 1.1px;
    margin: 0;
}

.is-invalid {
    box-shadow: 0px 0px 8px -1px inset red !important;
}

.btn-custom-theme {
    height: 40px !important;
}

@media screen and (max-width:500px) {
    section#login-section {
        max-width: 90%;
    }

    .card {
        padding-left: 0px;
        padding-right: 0px;
    }

    .card-body {
        padding-left: 2px;
        padding-right: 2px;
    }
}

@media screen and (min-width:501px) and (max-width:800px) {
    section#login-section {
        max-width: 75%;
    }

    form div#file-group {
        margin-bottom: 21px;
    }

    form div#file-group p.text-danger {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}