<div class="parallax bg-light py-5 my-5">
    <section id="post-create-section"
             class="d-flex flex-column align-items-center shadow-effect my-5">

        <article class="card mx-2 border-0 rounded">

            <!-- headings -->
            <div class="parallax-border rounded-top"></div>
            <div class="d-flex flex-column card-body align-items-center justify-content-center my-md-3 my-3">
                <div class="text-center">
                    <h3 class="text-theme-primary">Add New Post</h3>
                    <p class="text-theme-primary">Please fill out all fields.</p>
                    <hr class="mb-4">
                </div>

                <!-- create post form -->
                <form #postForm="ngForm"
                      name="postForm"
                      id="post-create"
                      (ngSubmit)="onSubmit(postForm)">

                    <!-- first row -->
                    <div class="row col-md-12 m-0 justify-content-around">
                        <!--first column-->
                        <div class="d-flex flex-column col-md-7 col-12">
                            <div class="field-group d-flex w-100 justify-content-start flex-column">
                                <input type="text"
                                       name="title"
                                       id="title"
                                       autocomplete="off"
                                       class="form-control"
                                       placeholder="Post Title"
                                       ngModel
                                       #title="ngModel"
                                       (ngModelChange)="title"
                                       required
                                       [ngClass]="{'is-invalid': title.touched && title.invalid}">
                                <ng-container *ngIf="title.touched && title.invalid">
                                    <p *ngIf="title.errors?.['required']"
                                       class="text-danger">Post Title is required field.</p>
                                </ng-container>
                            </div>
                            <div class="field-group d-flex w-100 justify-content-start flex-column">
                                <input type="text"
                                       name="permalink"
                                       autocomplete="off"
                                       class="form-control"
                                       placeholder="Permalink"
                                       ngModel
                                       #permalink="ngModel"
                                       [(ngModel)]="permalinkTitle"
                                       disabled
                                       required>
                            </div>
                            <div id="textarea-group-excerpt"
                                 class="d-flex w-100 justify-content-start flex-column">
                                <textarea type="text"
                                          name="excerpt"
                                          class="form-control"
                                          placeholder="Excerpt"
                                          ngModel
                                          #excerpt="ngModel"
                                          required
                                          [ngClass]="{'is-invalid': excerpt.touched && excerpt.invalid}"></textarea>
                                <ng-container *ngIf="excerpt.touched && excerpt.invalid">
                                    <p *ngIf="excerpt.errors?.['required']"
                                       class="text-danger">Excerpt is required field.</p>
                                </ng-container>
                            </div>
                        </div>

                        <!--second column-->
                        <div class="d-flex flex-column col-md-5 col-12">
                            <div class="field-group d-flex w-100 justify-content-start flex-column">
                                <select class="form-select">
                                    <option selected
                                            disabled
                                            value="">Please, select a post category</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div id="file-group"
                                 class="d-flex w-100 justify-content-start flex-column">
                                <div>
                                    <label for="formFile"
                                           class="form-label">Post Image</label>
                                    <input class="form-control"
                                           id="formFile"
                                           type="file"
                                           accept="image/*"
                                           (change)="showImagePreview($event)">
                                           <img [src]="imgSrc" class="form-control bg-light-theme img-custom rounded" alt="Post image">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- second row -->
                    <div class="row col-md-12 m-0">
                        <div class="d-flex flex-column col-md-12">
                            <div id="textarea-group-content"
                                 class="d-flex w-100 justify-content-start flex-column">
                                <textarea type="text"
                                          name="content"
                                          class="form-control"
                                          placeholder="Post content"
                                          ngModel
                                          #content="ngModel"
                                          required
                                          [ngClass]="{'is-invalid': content.touched && content.invalid}"></textarea>
                                <ng-container *ngIf="content.touched && content.invalid">
                                    <p *ngIf="content.errors?.['required']"
                                       class="text-danger">Post content is required field.</p>
                                </ng-container>
                            </div>
                            <hr class="mt-1 mb-4">
                            <div id="button-group"
                                 class="d-flex gap-2">
                                <button [disabled]="postForm.invalid"
                                        class="btn btn-custom-theme lh-sm">Save Post</button>
                                <button type="button"
                                        routerLink="/posts"
                                        class="btn btn-outline-custom-theme">Back to Posts</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </article>
    </section>
</div>