<div class="parallax bg-light py-5 my-5">
    <section id="post-create-section"
             class="m-auto flex-column justify-content-center align-items-center shadow-effect my-5">

        <article class="card border-0 rounded">

            <!-- headings -->
            <div class="parallax-border rounded-top"></div>
            <div class="d-flex flex-column card-body align-items-center justify-content-center my-md-3 my-3">
                <div class="text-center">
                    <h3 class="text-theme-primary">{{formStatus}} Post</h3>
                    <p class="text-theme-primary">Please, fill out all fields.</p>
                    <hr class="mb-4">
                </div>

                    <!-- create post form -->
                    <form [formGroup]="postForm"
                          name="postForm"
                          id="post-create"
                          (ngSubmit)="onSubmit()">
                        <!-- first row -->
                        <div class="row col-md-12 m-0 justify-content-around">
                            <!--first column-->
                            <div class="d-flex flex-column col-md-7 col-12">
                                <div class="field-group d-flex w-100 justify-content-start flex-column">
                                    <input type="text"
                                           name="title"
                                           id="title"
                                           placeholder="Post Title"
                                           class="form-control"
                                           formControlName="title"
                                           (keyup)="onTitleChanged($event)"
                                           [ngClass]="{'is-invalid': fc.title.touched && fc.title.invalid}">
                                    <ng-container *ngIf="fc.title.touched && fc.title.invalid">
                                        <p *ngIf="fc.title.errors?.['required']"
                                           class="text-danger ps-2">Title is required.</p>
                                        <p *ngIf="fc.title.errors?.['minlength']"
                                           class="text-danger ps-2">Title must be at least 6 characters long.</p>
                                    </ng-container>
                                </div>
                                <div class="field-group d-flex w-100 justify-content-start flex-column">
                                    <input type="text"
                                           id="permalink"
                                           name="permalink"
                                           class="form-control"
                                           placeholder="Permalink"
                                           tooltip="The URL for your post"
                                           formControlName="permalink"
                                           [value]="permalink"
                                           [ngClass]="{'is-invalid': fc.permalink.touched && fc.permalink.invalid}">
                                    <ng-container *ngIf="fc.permalink.touched && fc.permalink.invalid">
                                        <p *ngIf="fc.permalink.errors?.['required']"
                                           class="text-danger ps-2">Permalink is required.</p>
                                    </ng-container>
                                </div>
                                <div id="textarea-group-excerpt"
                                     class="d-flex w-100 justify-content-start flex-column">
                                    <textarea type="text"
                                              name="excerpt"
                                              class="form-control"
                                              placeholder="Excerpt (summary of your post)"
                                              formControlName="excerpt"
                                              [ngClass]="{'is-invalid': fc.excerpt.touched && fc.excerpt.invalid}">{{editedPost? && editedPost['excerpt']}}</textarea>
                                    <ng-container *ngIf="fc.excerpt.touched && fc.excerpt.invalid">
                                        <p *ngIf="fc.excerpt.errors?.['required']"
                                           class="text-danger ps-2">Excerpt is required.</p>
                                        <p *ngIf="fc.excerpt.errors?.['minlength']"
                                           class="text-danger ps-2">Excerpt must be at least 20 characters long.</p>
                                    </ng-container>
                                </div>
                            </div>
                            <!--second column-->
                            <div class="d-flex flex-column col-md-5 col-12">
                                <div class="field-group d-flex w-100 justify-content-start flex-column">
                                    <select class="form-select"
                                            formControlName="category"
                                            [ngClass]="{'is-invalid': fc.category.touched && fc.category.invalid}">
                                        <option selected="{{editedPost == null}}"
                                                disabled
                                                value="">Please, select a post category</option>
                                        <option *ngFor="let category of categories"
                                                value="{{category['id']}}-{{category['category']}}">
                                            {{category['category']}}
                                        </option>
                                    </select>
                                    <ng-container *ngIf="fc.category.touched && fc.category.invalid">
                                        <p *ngIf="fc.category.errors?.['required']"
                                           class="text-danger ps-2">Category must be selected from the list above.</p>
                                    </ng-container>
                                </div>
                                <div id="file-group"
                                     class="d-flex w-100 justify-content-start flex-column mb-0">
                                    <div>
                                        <label for="formFile"
                                               class="form-label">Post Image</label>
                                        <input class="form-control"
                                               id="formFile"
                                               type="file"
                                               accept="image/*"
                                               formControlName="postImg"
                                               (change)="showImagePreview($event)"
                                               [ngClass]="{'is-invalid': fc.postImg.touched && fc.postImg.invalid}">
                                        <img [src]="imgSrc"
                                             class="form-control bg-light-theme img-custom rounded"
                                             alt="Post image">
                                        <ng-container *ngIf="fc.postImg.touched && fc.postImg.invalid">
                                            <p *ngIf="fc.postImg.errors?.['required']"
                                               class="text-danger ps-2">Please, upload an image for your post.</p>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- second row -->
                        <div class="row col-md-12 m-0">
                            <div class="d-flex flex-column col-md-12">
                                <div id="textarea-group-content"
                                     class="d-flex w-100 justify-content-start flex-column">
                                    <angular-editor class="form-control pt-2"
                                                    placeholder="Add your text here..."
                                                    name="content"
                                                    formControlName="content">
                                    </angular-editor>
                                    <ng-container *ngIf="fc.content.touched && fc.content.invalid">
                                        <p *ngIf="fc.content.errors?.['required']"
                                           class="text-danger ps-2">Please, enter content for your post.</p>
                                    </ng-container>
                                </div>
                                <div id="button-group"
                                     [class]="fc.content.touched && fc.content.invalid ? 'mt-2' : 'mt-4'"
                                     class="d-flex gap-2 mb-0">
                                    <button [disabled]="postForm.invalid"
                                            class="btn btn-custom-theme lh-sm">Save Post</button>
                                    <button type="button"
                                            routerLink="/posts"
                                            class="btn btn-outline-custom-theme">Back to Posts</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
        </article>
    </section>
</div>