<section id="category-create-section"
         class="container col-11 p-0 shadow-effect my-5">
    <div class="parallax-border rounded-top"></div>
    <article class="card border-0 rounded-bottom rounded-top-0">
        <div class="card-body">
            <div class="d-flex flex-md-row flex-column align-items-center justify-content-center my-lg-5 my-md-5 my-3">
                <div class="d-flex flex-column col-md-3 col-12">
                    <h3 class="text-theme-primary subs-text">New Categories</h3>
                    <p class="text-theme-primary subs-text mb-md-0 mb-4">You can add new categories from here</p>
                </div>
                <form #categoryForm="ngForm"
                      id="category-create"
                      (ngSubmit)="onSubmit(categoryForm)"
                      class="d-flex col-md-8 col-12 align-items-start gap-2">
                    <div id="field-group"
                         class="d-flex w-100 justify-content-start flex-column">
                        <input type="text"
                               name="category"
                               autocomplete="off"
                               class="form-control"
                               placeholder="Add New Categories"
                               ngModel
                               #category="ngModel"
                               required
                               [ngClass]="{'is-invalid': category.touched && category.invalid}">
                        <ng-container *ngIf="category.touched && category.invalid">
                            <p *ngIf="category.errors?.['required']"
                               class="text-danger">Category name is required field.</p>
                        </ng-container>
                    </div>
                    <button [disabled]="categoryForm.invalid"
                            class="btn btn-custom-theme col-md-2 col-3 d-flex align-items-center justify-content-center lh-sm">Add
                        Category
                    </button>
                </form>
            </div>
        </div>
    </article>
</section>

<section id="all-categories"
         class="col-12 parallax">
    <div class="container py-3 my-5">
        <div class="d-flex align-items-center justify-content-center my-lg-5 my-md-5 my-3">
            <table class="table table-borderless shadow-effect">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let doc of allCategories$ | async; index as i">

                        <ng-container *ngIf="!isInEditMode.value || isInEditMode.categoryId != doc['id']">
                            <td>{{i+1}}</td>
                            <td>{{doc['category']}}</td>
                            <td id="action-group">
                                <button type="button"
                                        (click)="enterEditMode(doc)"
                                        class="btn btn-outline-secondary btn-sm">
                                    <i class="fas fa-edit me-1 text-warning"></i>Edit
                                </button>
                                <!-- (click)="onDelete(doc['id'])" -->
                                <button type="button"
                                        (click)="onDeleteClick(doc['id'], template)"
                                        class="btn btn-outline-danger btn-sm">
                                    <i class="fas fa-trash-alt me-1 text-danger-emphasis"></i>Delete
                                </button>
                            </td>
                        </ng-container>

                        <td *ngIf="isInEditMode.value && isInEditMode.categoryId == doc['id']"
                            colspan="3"
                            id="edit-category-td">
                            <form #categoryEditForm="ngForm"
                                  class="d-flex col-md-11 col-12 align-items-center justify-content-between gap-2"
                                  (ngSubmit)="onEditSubmit(categoryEditForm)">
                                <input type="hidden"
                                       name="id"
                                       ngModel
                                       #id="ngModel">
                                <input type="text"
                                       name="category"
                                       autocomplete="off"
                                       class="form-control"
                                       placeholder="Enter category name"
                                       ngModel
                                       #category="ngModel"
                                       required
                                       [ngClass]="{'is-invalid': category.touched && category.invalid}">

                                <button [disabled]="categoryEditForm.invalid"
                                        class="btn btn-outline-secondary btn-sm">
                                    Update</button>
                                <button type="button"
                                        (click)="leaveEditMode()"
                                        class="btn btn-outline-danger btn-sm">Cancel</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<ng-template #template>
    <div class="modal-body text-center">
        <p>Are you sure you want to delete this category?</p>
        <hr>
        <button type="button"
                class="btn btn-outline-danger btn-sm me-2"
                (click)="onDeleteConfirm()">Yes</button>
        <button type="button"
                class="btn btn-outline-success btn-sm"
                (click)="onDeleteDecline()">No</button>
    </div>
</ng-template>