<section class="container col-11 p-0 shadow-effect my-5">
    <div class="parallax-border rounded-top"></div>
    <article class="card border-0 rounded-bottom rounded-top-0">
        <div class="card-body">
            <div class="d-flex flex-md-row flex-column align-items-center justify-content-center my-lg-5 my-md-5 my-3">
                <div class="d-flex flex-column col-md-3 col-12">
                    <h3 class="text-theme-primary subs-text">New Categories</h3>
                    <p class="text-theme-primary subs-text mb-md-0 mb-4">You can add new categories from here</p>
                </div>
                <form class="d-flex col-md-8 col-12 align-items-center gap-2">
                    <input type="text"
                           name="name"
                           autocomplete="off"
                           class="form-control d-flex"
                           placeholder="Add New Categories">
                    <button
                            class="btn btn-custom-theme col-md-2 col-3 d-flex align-items-center justify-content-center lh-sm">Add
                        Category
                    </button>
                </form>
            </div>
        </div>
    </article>
</section>