<div class="parallax bg-light pt-5 pb-5 my-5">
    <section id="dashboard"
             class="container">
        <div id="flex-container"
             class="d-flex flex-md-row flex-column align-items-center justify-content-center gap-4">

            <div class="col-md-4 col-8">
                <div class="card shadow-effect"
                     routerLink="/categories">
                    <div class="card-body text-center rounded">
                        <h1 class="mt-4"><i class="fas fa-clipboard-list"></i></h1>
                        <h2>Categories</h2>
                        <p>Customize category details here</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-8">
                <div class="card shadow-effect"
                     routerLink="/posts">
                    <div class="card-body text-center rounded">
                        <h1 class="mt-4"><i class="fas fa-file-image"></i></h1>
                        <h2>Posts</h2>
                        <p>Manage your posts details here</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>